<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ block "title" . }} {{- T "home" -}} {{ end }} | {{ .Site.Title }}</title>

    {{ partial "head.html" . }}
    {{ block "css" . }} {{ end }}
  </head>

  <body class="default">
	<!-- Cookie Banner Start -->
    <div id="mbmcookie">
      <a onClick="var d = new Date(); d = new Date(d.getTime() +1000*60*60*24*730); document.cookie = 'mbmcookie=1; expires='+ d.toGMTString() + ';'; document.getElementById('mbmcookie').style.display = 'none';" class="button">Akzeptieren</a>
      <p class="cookiemessage">Diese Website verwendet Cookies. Durch die Nutzung dieser Webseite erkl&auml;ren Sie sich damit einverstanden, dass Cookies gesetzt werden.
      <a href="/about/cookies">Mehr erfahren</a></p>
    </div>
	<script>
      var r = 0;
      a = document.cookie;while(a != ''){while(a.substr(0,1) == ' '){a = a.substr(1,a.length);}cn = a.substring(0,a.indexOf('='));if(a.indexOf(';') != -1){cw = a.substring(a.indexOf('=')+1,a.indexOf(';'));}else{cw = a.substr(a.indexOf('=')+1,a.length);}if(cn == 'mbmcookie'){r = cw;}i = a.indexOf(';')+1;if(i == 0){i = a.length}a = a.substring(i,a.length);}if(r == '1') document.getElementById('mbmcookie').style.display = 'none';
    </script>
	<style>
	  #mbmcookie {position: fixed; bottom: 0; left: 0; right: 0; background: #eee; padding: 20px; font-size: 14px; font-family: verdana;z-index: 99;}
	  #mbmcookie a.button {cursor: pointer; background: #ccc; padding: 8px 20px; margin-left: 10px; border-radius: 5px; font-weight: bold; float: right;}
	  #mbmcookie a.button:hover {background-color: #aaa;}
	  #mbmcookie p.cookiemessage {display: block; padding: 0; margin: 0;}
	</style>
    <!-- Cookie Banner End -->
    {{ partial "nav.html" . }}
    <div class="flip-container">
      <div class="flipper">
        <section class="front">
          <div class="dream-max-width">
            {{ block "main" . }} {{ end }}
          </div>
        </section>
        <section class="back">
          <div class="dream-max-width">
            {{ partial "back.html" . }}
          </div>
        </section>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ block "js" . }} {{ end }}

    {{ if .Site.Params.enableSearch }}
      {{ partial "search.html" . }}
    {{ end }}

    {{ if .Site.GoogleAnalytics }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </body>
</html>
